{% extends "base.html" %}

{% block content %}   

    <h1>Add a Post!</h1>
    <form action="/add" method='POST'>
        <p>
            <label>Title:
            <input type="text" name="blog_title" value="{{ blog_title }}"/> 
            </label>
            <span class="error">{{ title_error }}</span>
        </p>
        <br />
        <br />
         <p>
             <label>Body:
            <textarea style="vertical-align:top;" rows="10" columns="30" name="blog_text">{{ blog_text }}</textarea>
            </label style="text-align: top">
            <span class="error">{{ text_error }}</span>
        </p>       
        <br />
        <br />    
        <input type="submit" value="Post it!" />
    </form>


{% endblock %}