<!DOCTYPE = html>

<html>

    <head>
        <title>Build a Blog</title>
        <style type="text/css">
            html {
                font-family: Helvetica, sans-serif;
            }

            .error {
                color: red;
            }    
        </style>             
    </head>

    <body>

        <div>
            <a href='/blog'>Main Blog Page</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href='/add'>Add a Blog Post</a>
        </div>
   
        {% block content %}
        {% endblock %}

    </body>    

</html>     